{% if paginator.hasPages %}
    <ul class="pagination">

    {% if paginator.onFirstPage %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
    {% else %}
        <li class="page-item"><a href="{{ paginator.previousPageUrl }}" class="page-link">&laquo;</a></li>
    {% endif %}

    {% for element in elements %}

        {% if element is iterable %}
            {% for page, url in element  %}

                {% if page == paginator.currentPage %}
                    <li class="page-item active"><a href="{{ url }}" class="page-link">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a href="{{ url }}" class="page-link">{{ page }}</a></li>
                {% endif %}

            {% endfor %}
        {% else %}
            <li class="page-item disabled"><span class="page-link">{{ element }}</span></li>
        {% endif %}

    {% endfor %}

        {% if paginator.hasMorePages %}
            <li class="page-item"><a href="{{ paginator.nextPageUrl }}" class="page-link">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>


{% endif %}

