{% extends 'base.twig' %}
{% block content %}

    <h1>User registration</h1>

    <div class="container-fluid">
        <div class="row">
        <form class="form-horizontal" action="{{ path_for('home') }}" method="post" autocomplete="on">
            <legend>Fill the form below to try out the form validation & events</legend>
            <fieldset>
                <div class="col-md-4">
                    <div class="form-group  {{ errors.name ? 'has-error' : '' }}">
                        <label for="name" class="control-label">Name :</label>
                        <input class="form-control" type="text" name="name" id="name"  value="">
                        {% if errors.name %}<span class="helpblock">{{ errors.name | first }}</span>{% endif %}
                    </div>
                    <div class="form-group {{ errors.email ? 'has-error' : '' }}">
                        <label for="email" class="control-label">Email :</label>
                        <input class="form-control" type="text" name="email" id="email" value="">
                        {% if errors.email %}<span class="helpblock">{{ errors.email | first }}</span>{% endif %}
                    </div>
                    <div class="form-group  {{ errors.password ? 'has-error' : '' }}">
                        <label for="password" class="control-label">Password :</label>
                        <input class="form-control" type="password" name="password" id="password" value="">
                        {% if errors.password %}<span class="helpblock">{{ errors.password | first }}</span>{% endif %}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Send">
                    </div>
                </div>
            </fieldset>
            {{ csrf.field | raw }}
        </form>
    </div>



{% endblock %}